<app-encabezado titulo="Cuentas"></app-encabezado>

<ion-content class="ion-padding">
    <ion-item>
        <ion-label>
            <h2>{{mensaje}}</h2>
        </ion-label>
    </ion-item>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregar()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 <!--- <ion-list>
    <ion-item>
      <ion-label>{{nombre}}</ion-label>
    </ion-item>
  </ion-list>-->
  
  <ion-card *ngFor="let cc of cuentasCliente; let i = index">
    <ion-card-header color="primary">
      <ion-card-title>Cuenta No. : {{cc.cuenta_id}}</ion-card-title>
      <ion-card-subtitle>Moneda : {{cc.moneda}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <br>
       <ion-label> Saldo : {{cc.saldo}}</ion-label>
    </ion-card-content>
    <ion-footer>
      <ion-row>
        <ion-col >
          <ion-button (click)="editar(cc,i)" fill="outline" shape="round" color= "success">
            Editar
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="eliminar(cc,i)" fill="outline" shape="round" color= "danger">
            Eliminar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>
</ion-content>
